header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 5%;
    color: white;
}
body{
    background-image: url('https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/620bd6d655f2044afa28bff4_glassmorphism.jpeg');
    text-align: center;
}

section{
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 300px;
    height: 30%;
    margin: auto;
    padding: 15px;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

footer{
    font-style: italic;
    color: white;
    text-align: center;
    font-size: smaller;
}

table {
    width:100%;
    height:100%;
    border:1px none #b3adad;
    border-collapse:collapse;
    padding:10px;
    border-radius: 16px;
}

table th {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.6px);
    -webkit-backdrop-filter: blur(10.6px);
    padding: 8px;
}

table td {
    border:1px none #b3adad;
    text-align:center;
    padding:5px;
    color: #ffffff;
}


#btAdicionar{
    font-family: Arial, Helvetica, sans-serif;
    height: 31px;
}

#bts{
    padding: 10px;
}

#tbNum{
    padding: 10px;
}

#btFinalizar{
    font-family: Arial, Helvetica, sans-serif;
    height: 31px;
}

#num{
    width: 50px;
    height: 25px;
    font-size: large;
}

#resultados{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.6px);
    -webkit-backdrop-filter: blur(10.6px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

#table{
    padding: 10px;
}
